# postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_MIN_CONN_COUNT=
POSTGRES_MAX_CONN_COUNT=
POSTGRES_MAX_CONN_INACTIVE_LIFETIME=

# clickhouse remote
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DB=
CLICKHOUSE_HOST=
CLICKHOUSE_PORT=

# backand app
APP_NAME=
APP_IP_ADDRESS=
APP_PORT=

# frontend
FRONTEND_API_ADDRESS=
FRONTEND_PORT=
CORS_ALLOW_ORIGINS=[]

TOKENS_FILE_NAME=

SCHEDULER_API_KEY=

# jwt
JWT_ALGORITHM=
JWT_SECRET_KEY=
JWT_ISSUER=
JWT_ACCESS_AUDIENCE=
ACCESS_TOKEN_COOKIE_NAME=
