# postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# clickhouse remote
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DB=
CLICKHOUSE_HOST=
CLICKHOUSE_PORT=

# backand app
APP_IP_ADDRESS=
APP_PORT=

# frontend
FRONTEND_API_ADDRESS=
FRONTEND_PORT=

TOKENS_FILE_NAME=

SCHEDULER_API_KEY=

# celery
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

# redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_PASSWORD=
REDIS_TIMEOUT=
REDIS_MAX_CONNECTIONS=
